.gallery {clear:both;position:relative;text-align:center;max-width:702px;margin:0 auto;padding:20px 0 0 0;overflow:auto;}
/*.gallery #main_image {margin:0 auto 60px auto;height:438px;width:700px;background-color:#000;}*/
.gallery #main_image {margin:0 auto 60px auto;height:525px;width:700px;background-color:#000;}
.gallery #main_image img {margin-bottom:10px;}
.gallery .caption {font-style:italic;}
.gallery_imgs {width:702px;margin:0 auto;padding:0;}
.gallery_imgs li {width:68px;height:50px;border:3px double #fff;margin: 2px 2px;padding: 0 !important;background:#111;}
.gallery_imgs li div {left:240px;}
.gallery_imgs li div .caption {font-style:italic;}
.gallery .nav {clear:both;padding-top:15px;text-align:center;}
