
body {
	background: #F9F9F7 url('images/a1.gif') repeat-x;
	/*font: normal medium tahoma,verdana,lucida,sans-serif;*/
	/*color: #8C8C73;*/
	font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
	/*font-family: tahoma,verdana,lucida,sans-serif;*/
	font-size: 16px;
	color: #666;
	padding: 0px;
	margin: 0px;
}

a {
	color: #0174A7;
	text-decoration: none;
}

a:hover, a:focus {
	color: #1096D5;
	text-decoration: underline;
}

sup {
	font-size: 0.5em;
}


p {
	margin-bottom: 14px;
	text-align: justify;
}


img.floatleft {
	float: left;
	margin: 0px 14px 3px 0px;
}


ul.linklist {
	list-style: none;
}

ul.linklist li {
	border-top: solid 1px #EEEEEE;
	padding-top: 5px;
	margin: 5px 0px 0px 0px;
}

ul.linklist li.first {
	border-top: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

#upbg {
	position: absolute;
	top: 0px;
	left: 0px;
/*	background: #fff url('images/upbg.gif') no-repeat; */
	width: 770px;
	height: 177px;
	z-index: 1;
}

#outer {
	position: relative;
/*	width: 747px; */
	width: 770px; 
	margin: 0 auto;
	background: #fff;
	border: 1px solid #ddd;
/*	background: #fff url('images/abg.gif') repeat-y; */
}

#inner {
	position: relative;
	padding: 13px 30px 13px 30px;
	z-index: 2;
}

#header {
	position: absolute;
	background: #FF7800 url('images/a8.gif') repeat-x;
	width: 225px;
	height: 92px;
	color: #fff;
	padding: 0 0 0 20px;
}

#header span {
	font-weight: normal;
}

#header h1 {
	position: absolute;
	font-size: 26px;
	letter-spacing: -1px;
	top: 1px;
	height: 92px;
	color: #fff;
}

#header h2 {
	position: absolute;
	font-size: 12px;
	font-weight: normal;
	color: #FCE2CA;
	top: 48px;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header sup {
	color: #FCE2CA;
}

#splash {
	position: absolute;
	right: 30px;
	background: #EAEAE2 url('images/a10.jpg') no-repeat;
	width: 458px;
	height: 92px;
}

#menu {
	position: relative;
	background: #46461F url('images/a16.gif') repeat-x;
	height: 67px;
	padding: 0 20px 0 5px;
	margin: 98px 0 0 0;
}

#menu ul {
	padding: 0;
}

#menu ul li {
	display: inline;
	line-height: 52px;
	padding: 7px 0 7px 3px;
}

#menu ul li.first {
	border-left: 0px;
}

#menu ul li a {
	background-color: transparent;
	background-repeat: repeat-x;
	padding: 8px 12px 8px 12px;
	/*font-size: 14px;*/
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#menu ul li a:hover,
#menu ul li a.active {
	background: #fff url('images/a18.gif') repeat-x top;
	color: #4A4A24;
	text-decoration: none;
}

#lang {
	position: absolute;
	top: 0px;
	line-height: 52px;
	color: #BDBDA2;
	right: 30px;
	font-weight: bold;
	/*font-size: 12px;*/
	letter-spacing: -1px;
}
#lang a {
	color: #BDBDA2;
}

#content {
	position: relative;
	/*width: 460px;*/
	width: 710px;
	float: left;
}
/*
#content h3 {
	position: relative;
	top: 4px;
	/ *font-size: 18px;* /
	/ *line-height: 25px;* /
	color: #656551;
	letter-spacing: -1px;
	background: url('images/a22.gif') bottom repeat-x;
	padding: 0px 0px 10px 15px;
	margin-bottom: 20px;
}
*/
#content .content {
	padding: 0px 15px 0px 15px;
	margin-bottom: 20px;
}

#content .post {
	margin-bottom: 30px;
}

#content .post .header {
	position: relative;
}

#content .post .date {
	position: absolute;
	right: 15px;
	top: 0px;
	line-height: 35px;
	color: #AFAFA4;
	font-weight: bold;
}

#content .post .content {
	margin-bottom: 0px;
}

#content .post .footer {
	position: relative;
	top: -10px;
	background: url('images/a33.gif') repeat-x;
	height: 64px;
}


#content .post .footer ul {
	list-style: none;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

#content .post .footer ul li {
	display: inline;
	line-height: 14px;
	padding-left: 17px;
	margin-left: 25px;
	background-repeat: no-repeat;
	background-position: 0px 2px;
}

#content .post .footer ul li.printerfriendly {
	background-image: url('images/a41.gif');
}

#content .post .footer ul li.comments {
	background-image: url('images/a36.gif');
}

#content .post .footer ul li.readmore {
	background-image: url('images/a38.gif');
}

#secondarycontent {
	position: relative;
	width: 250px;
	float: right;
}

#secondarycontent h3 {
	position: relative;
	top: 4px;
	/*font-size: 16px;
	line-height: 25px;*/
	color: #656551;
	letter-spacing: -1px;
	background: url('images/a22.gif') bottom repeat-x;
	padding: 0px 0px 10px 10px;
	margin-bottom: 20px;
}

#secondarycontent .content {
	padding: 0px 10px 0px 10px;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

.error {
	color: red;
}

#footer {
	margin: 50px 0 0 0;
	position: relative;
	clear: both;
	height: 36px;
	text-align: center;
	line-height: 30px;
	background-image: url('images/a50.gif');
	color: #A8A88D;
}

#footer a {
	color: #8C8C73;
}

/*  Formular - editacia inzeratu **************************************************************/
#marginForm fieldset
{
	display: block;
	margin: 0 0 1em 0;
	border: 0 solid #FFFFFF;
	border-top: 1px solid #000000;
	padding: 2em 1em 1em 1em;
	background: url('images/a33.gif') bottom repeat-x;
}

#marginForm legend
{
	font-weight: bold;
	color: #FF7800;
	padding: 0 5px 0 5px;
	font-size: 120%;
}

#marginForm fieldset.radio
{
	margin: 0 0 0 -1em;
	border: 0 solid #FFFFFF;
}

#marginForm fieldset.radio input
{
	position: static;
	clear: both;
	float: left;
}

#marginForm fieldset.radio label
{
	position: relative;
	top: -1.25em;
	display: inline;
	width: auto;
	margin: 0 0 0 8em;
	font-weight: bold;
	font-weight: normal;
}


#marginForm fieldset.radio legend
{
	float: left;
	font-weight: bold;
}

#marginForm input
{
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#marginForm input.submit
{
	clear: both;
	top: 0;
}

#marginForm label
{
	clear: both;
	float: left;
	display: block;
	width: 8em;
	margin-top: -1em;
	font-weight: bold;
}

#marginForm label.first
{
	margin-top: 1em;
}

#marginForm select
{
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#marginForm textarea
{
	width: auto;
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
	margin-left: 10px;
}

/* index - paging ***********************/
div.paging p {
	text-align: center;
}

/*
* {
	outline: 1px solid red;
}
*/

