div.split { clear: left; }
div.two-column { width: 50%; min-width: 250px; padding: 0; float: left; }
div.pannel { padding: 0.5em 0.5em; clear: both; }

h1, h2, h3, h4, h5, h6 { color: #666; letter-spacing: 1px; /*text-transform: uppercase;*/ }
h3, h4, h5, h6 { color: #666; letter-spacing: 0; }
/*h1 {text-align: center;}*/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #666; }

/*
h2.img, h3.img { white-space: nowrap; padding: 6px 6px 6px 33px; background: no-repeat 4px center; }
h2.features { background-image: url(images/features24.png); }
h2.news { background-image: url(images/news24.png); }
h2.users { background-image: url(images/users24.png); }
h2.planned { background-image: url(images/planned24.png); }
h3.bugs { background-image: url(images/bugs24.png); }
h3.important { background-image: url(images/emblem-important.png); }
h3.users { background-image: url(images/users24.png); }
h3.presentation { background-image: url(images/x-office-presentation.png); }
h3.lp { background-image: url(images/lp24.png); }
h3.system { background-image: url(images/preferences-system.png); }
h3.tux { background-image: url(images/tux24.png); }
h2.information { background-image: url(images/dialog-information.png); }
h2.spreadsheet { background-image: url(images/x-office-spreadsheet.png); }
h2.wiki { background-image: url(images/wiki24.png); }
h2.document { background-image: url(images/x-office-document.png); }
h2.mail { background-image: url(images/mail24.png); }
h2.microfmt { background-image: url(images/microfmt24.png); }
h2.irc { background-image: url(images/irc24.png); }
h2.contact { background-image: url(images/contact-new.png); }
h2.overview { background-image: url(images/overview24.png); }
*/
/*
h1.title { font-size: 1.72em; }
h2.title { font-size: 1.44em; }
h3.title { font-size: 1.2em; }
h4.title, h5.title, h6.title { font-size: 1em; }
*/


/*
p + p { text-indent: 1.5em; margin-top: 0 }
p:first-letter { font-weight: bold; }
p { text-align: justify; }
*/

ul { list-style-type: square; }
ol li, ul li { padding-bottom: 0.5em; }

dl dt { padding-left: 1em; font-weight: bold; }
dl dd { padding-bottom: 0.2em; }

code { font-family: monospace; border: solid 1px #e0e0df; padding-left: 0.2em; padding-right: 0.2em; }
pre { font-family: monospace; overflow: auto; border: solid 1px #e0e0df; padding: 1em 1em 0em 1em; background-color: rgb( 98%, 98%, 98%); }

span.bold { font-weight: bold; }
span.monospace { font-family: monospace; }
span.date { display: block; font-style: italic; }

.info { clear: both; margin: 30px 0 auto; border-top: 1px solid #ddd; padding-top: 20px; }
/*.info p { margin-top: 1.6em; }*/

